name: publish-module

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  checks: write
  actions: read
  pull-requests: write
  statuses: write

jobs:
  build-validation:
    uses: ./.github/workflows/build-validation.yaml

  build-report:
    uses: ./.github/workflows/build-report.yaml

  create-release:
    needs: [build-validation, build-report]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1

      - name: Download updated report template
        if: needs.build-report.outputs.report-updated == 'true'
        uses: actions/download-artifact@v7
        with:
          name: updated-report-template
          path: powershell/assets/

      - name: Package ./tests to PowerShell module
        id: package-tests
        shell: pwsh
        run: ./build/Copy-MaesterTestsToPSModule.ps1 -Force

      - name: Set module version
        id: moduleversion
        shell: pwsh
        run: ./.github/workflows/minor-version-update.ps1

      - name: Update PowerShell Module to PowerShell Gallery
        id: publish-to-gallery
        shell: pwsh
        run: |
          # Copy to maester folder to avoid issues when publishing
          Copy-Item ${{ github.workspace }}/powershell -Recurse -Destination ${{ github.workspace }}/maester/ -Force
          Publish-Module -Path ${{ github.workspace }}/maester -NuGetApiKey ${{ secrets.PS_GALLERY_KEY }}

      - name: Build PowerShell module for GitHub
        id: module-creation
        shell: pwsh
        run: |
          Compress-Archive -Path ${{ github.workspace }}/maester/* -DestinationPath ${{ github.workspace }}/maester.zip

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "maester.zip"
          replacesArtifacts: true
          allowUpdates: true
          generateReleaseNotes: true
          makeLatest: legacy
          prerelease: false
          tag: ${{ steps.moduleversion.outputs.tag }}
          commit: ${{ github.sha }}
